body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f5f0;
  text-align: center;
}

header {
  background: #00796b;
  color: white;
  padding: 15px;
}

button {
  background: #009688;
  color: white;
  border: none;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 10px;
}

button:hover {
  background: #00796b;
}

.hidden {
  display: none;
}

section {
  margin-top: 20px;
}